@import "./src/_var.scss";
$border-width: 1;
$border-height: 10;
$indicator-active-color:#FFFFFF;
$indicator-color:#5676A1;
$backgroud-color:#f6f6f6;
$backgroud-color-center:#fff;
$gray-text-color:#888888;
$blue-text-color: #5676A1;
$origin-text-color: #FFB740;